iAppTrim.xcodeproj/xcuserdata
iAppTrim.xcodeproj/project.xcworkspace/
iAppTrim/iAppTrim.xcdatamodeld/*
iAppTrim.xcworkspace/*
iAppTrim.xcworkspace/xcuserdata/
iAppTrim.xcworkspace/xcuserdata/cc.xcuserdatad/
iAppTrim.xcworkspace/xcuserdata/cc.xcuserdatad/UserInterfaceState.xcuserstate
Pods
.clang-format